$brand-color: #191ab3;
$brand-color--hover: #1b1bd8;
$brand-color--active: #1212aa;
$brand-color--transparent: rgba(25, 25, 179, 0.2);
$font-color: black;
$font-color--dark-gray: #3b3b3b;
$font-color--light-1: #5f5f5f;
$font-color--light-2: #808080;
$font-color--light-3: #aaaaaa;
$font-color--transparent: rgba(235, 240, 245, 0.4);
$link-color: rgb(33, 102, 230);
$error-color: red;
$error-color--transparent: rgba(151, 10, 10, 0.04);
$success-color: rgb(42, 165, 42);
$success-color--transparent: rgba(0, 128, 0, 0.04);
$background: #ffffff;
$background--light-gray: #f1f1f1;
$background--gray: #e3e3e3;
$background--dark-gray: #d5d5d5;
$background--darker-gray: #c8c8c8;

$gray-color: $background--gray;
$gray-color--hover: $background--dark-gray;
$gray-color--active: $background--darker-gray;

$sidebar-width: 250px;

* {
    font-family: 'Fredoka', sans-serif;
}

a {
    color: $link-color;
}